<footer id="contacts">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-col">
                <a href="#" class="logo" style="margin-bottom: 20px;">
                    <!--
                    <div class="logo-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    -->
                    DesignHub
                </a>
                <p style="color: rgba(255, 255, 255, 1.00);font-size: 18px;">
                    Инновационная платформа для проектирования и
                    реализации интерьерных решений.
                </p>
            </div>
            <div class="footer-col">
                <h4>Платформа</h4>
                <a href="#">Проекты</a>
                <a href="#">Подрядчики</a>
                <a href="#">Магазин чертежей</a>
            </div>
            <div class="footer-col">
                <h4>Поддержка</h4>
                <a href="#">Помощь</a>
                <a href="#">Контакты</a>
                <a href="#">База знаний</a>
            </div>
            <div class="footer-col">
                <h4>Юридические данные</h4>
                <a href="#">Условия использования</a>
                <a href="#">Конфиденциальность</a>
                <a href="#">Оферта</a>
            </div>
        </div>
        <div
            style="text-align: center; color: rgba(255, 255, 255, 1.00);font-size: 18px; border-top: 1px solid var(--border-footer); padding-top: 30px;">
            &copy; 2026 DesignHub Inc. Все права защищены. Разработано для профессионалов.
        </div>
    </div>
</footer>