<header>
    <div class="header-container">
        <a href="/src/pages/home/home.html" class="logo">
            <div class="logo-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            DesignHub
        </a>
        <nav>
            <a href="#about">О проекте</a>
            <a href="#features">Возможности</a>
            <a href="javascript:void(0)" id="openPricing">Тарифы</a>
            <a href="#contacts">Контакты</a>
        </nav>
        <div class="header-actions">
            <a href="#" class="btn btn-blue">Регистрация</a>
            <a href="/src/pages/auth/authorization.html" class="btn btn-dark" style="margin-right: 10px;">Вход</a>
        </div>
    </div>
</header>